<div class="row">
  <aside class="col-md-2 user-info">
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
    <p><%= @user.email %></p>
    <p>Account level: Basic</p>
  </aside>
  <section class="budget-info col-md-8">
    <h2 class="text-center">Budgets</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam modi minima perspiciatis suscipit. Modi, cum, temporibus id sit autem deleniti non ipsa suscipit quae explicabo voluptatem vitae ad quasi commodi!</p>
  </section>
</div>